/* You can add global styles to this file, and also import other style files */
.btn-action {
    background-color: #F05f44 !important;
    border-color: #F05f44 !important;
}

.aling-start {
    text-align: start !important;
}