/* You can add global styles to this file, and also import other style files */
.btn-action {
    background-color: #F05f44 !important;
    border-color: #F05f44 !important;
}

.aling-start {
    text-align: start !important;
}

.option-pointer:hover {
    cursor: pointer !important;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-siguiente {
    background-color: #F05F44 !important;
    border-color: #F05F44 !important;
}